@import "../variables.css";

:root {
    --btn-height: 60px;
    --btn-font-size: 16px;
    --btn-sm-height: 30px;
    --btn-sm-font-size: 16px;
    --btn-padding: 10px 15px 10px 15px;
    --btn-border-radius: 30px;
}

.btn {
    height: var(--btn-height);
    background: #FFFFFF;
    font-size: var(--btn-font-size);
    color: var(--text-color);
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radius);

    &.btn-sm {
        height: var(--btn-sm-height);
        font-size: var(--btn-sm-font-size);
    }

    &.btn-primary {
        background: var(--primary-color);
        color: var(--primary-text-color);
    }
}