@import "../variables.css";

:root {
    --btn-height: 60px;
    --btn-font-size: 16px;
    --btn-sm-height: 30px;
    --btn-sm-font-size: 16px;
    --btn-padding: 10px 15px 10px 15px;
    --btn-border-radius: 30px;
}

.btn {
    height: var(--btn-height);
    background: #FFFFFF;
    font-size: var(--btn-font-size);
    color: var(--text-color);
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radius);
    transition: background 1s ease;


    &:hover {
        background: var(--primary-color);
    }

    &.btn-sm {
        height: var(--btn-sm-height);
        font-size: var(--btn-sm-font-size);
    }

    &.btn-outline {
        background: transparent;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        &:hover {}
    }

    &.btn-primary {
        background: var(--primary-color);
        color: var(--primary-text-color);
        &:hover {
            background: var(--primary-alt-color);
        }

        &.btn-outline {
            background: transparent;
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            &:hover {
                background: var(--primary-color);
                color: var(--primary-text-color);
            }
        }
    }
}