@import "../variables.css";

.ellipses {
    @apply flex gap-4;
}

.ellipses>span {
    @apply w-5 h-5 min-h-5 min-w-5 rounded-full;
}

.ellipses>span:nth-child(3n + 1) {
    @apply bg-[#FF62C2];
}

.ellipses>span:nth-child(3n + 2) {
    @apply bg-[#8A38F5];
}

.ellipses>span:nth-child(3n + 3) {
    @apply bg-[#FFB54C];
}