@import "../variables.css";

.hero {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    min-height: 30vh;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.hero-sm {
        min-height: 10vh;
    }
    &.hero-lg {
        min-height: 70vh;
    }
    &.hero-xl {
        min-height: 90vh;
    }
    &.hero-screen {
        min-height: 100vh;
    }

    &.hero-home {
        background-image: url("../../assets/hero.svg");
        background-size: cover;
        background-position: center;
    }

    & .title {
        /* Valentina Geusa Graphic & Web Designer */

        font-family: 'Urbanist';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        background: linear-gradient(180deg, #F73258 0%, #FF62C2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;


    }
}