:root {
    --navbar-height: 83px;
}

body {
}

.navbar {
    @apply bg-white flex items-center justify-between w-full;

    height: var(--navbar-height);
    padding: 0 20px;

    .navbar-start {
        @apply flex gap-3 items-center justify-items-start;
    }

    .navbar-end {
        @apply flex gap-3 items-center justify-end;
    }

    .navbar-center {
        @apply flex gap-3 justify-center items-center;
    }

    .navbar-item {
        .navbar-logo img {
            @apply h-10;
        }
    }
}
