.section {
    justify-content: center;
    align-items: center;
    padding: 2rem;
    &.section-primary {
        background: var(--color-primary);
    }
    &.section-secondary {
        background: var(--color-secondary);
    }
    &.section-tertiary {
        background: var(--color-tertiary);
    }
}
