:root {
    --primary-color: #FFB9C8;
    --primary-alt-color: #FFDCF2;
    --primary-text-color: #666666;
    --secondary-color: #DFC7FF;
    --secondary-text-color: #000000;

    --text-color: #1e1e1e;
}