:root {
    --primary-color: #FFC1E8;
    --primary-hover-color: #FF62C2;
    --primary-text-color: #666666;
    --primary-hover-text-color: #FFF;
    --secondary-color: #C89EFF;
    --secondary-text-color: #666666;
    --tertiary-color: #FFF1DF;
    --tertiary-text-color: #666666;
    --success-color: #C9FFD1;
    --success-text-color: #666666;
    --danger-color: #F44266;
    --danger-text-color: #FFF;
    --warning-color: #FFF9AC;
    --warning-text-color: #666666;
    --info-color: #C89EFF;
    --info-text-color: #FFF;

    --text-color: #1e1e1e;
}
