:root {
    --primary-color: #FFC1E8;
    --primary-hover-color: #FF62C2;
    --primary-text-color: #666666;
    --primary-hover-text-color: #FFF;
    --secondary-color: #DFC7FF;
    --secondary-text-color: #000000;

    --text-color: #1e1e1e;
}