/* Poppins - Italic Weights */
@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-italic-100.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-italic-200.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-italic-300.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-italic-400.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-italic-500.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-italic-600.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-italic-700.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-italic-800.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-italic-900.woff2")
        format("woff2");
}

/* Poppins - Normal Weights */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-normal-100.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-normal-200.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-normal-300.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-normal-400.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-normal-500.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-normal-600.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-normal-700.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-normal-800.woff2")
        format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../../assets/fonts/poppins/poppins-normal-900.woff2")
        format("woff2");
}

/* Utility class */
.text-poppins {
    font-family: "Poppins", sans-serif;
}
