---
import PageLayout from '@/layouts/PageLayout.astro';

const pageTitle = 'Home';
---

<PageLayout pageTitle={pageTitle}>
	<div class="hero hero-home">
        <h1>{pageTitle}</h1>
    </div>
</PageLayout>
