---
import Hero from "@/components/Hero.astro";
import Ellipses from "@/components/ui/Ellipses.astro";
import Section from "@/components/ui/Section.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import Card from "@/components/ui/Card.astro";
import Input from "@/components/ui/Input.astro";
import Textarea from "@/components/ui/Textarea.astro";
import {
    Mail,
    MessageCircle,
    Instagram,
    Linkedin,
    Sparkles,
} from "lucide-astro";
import Contact from "@/components/Contact.astro";

const pageTitle = "Home";
---

<PageLayout pageTitle={pageTitle}>
    <Hero>
        <Fragment slot="title">
            Valentina Geusa<br />Graphic & Web Designer
        </Fragment>
    </Hero>

    <section class="flex mt-3 flex-col justify-justify-center items-center">
        <p>
            Creo identità visive, illustrazioni e contenuti social con un tocco
            personale.
        </p>
        <p class="font-welcome">Benvenutə!</p>
        <div class="flex justify-between items-center gap-2 mt-3">
            <a href="/about" class="btn btn-primary btn-outline">Su di me</a>
            <a href="/contact" class="btn btn-primary">I miei lavori</a>
        </div>
    </section>

    <div class="flex justify-center items-center mt-10">
        <Ellipses class="" />
    </div>

    <Section class="section-primary mt-11 py-16">
        <Contact />
    </Section>
</PageLayout>
