---
import Ellipses from "@/components/ui/Ellipses.astro";
import Section from "@/components/ui/Section.astro";
import PageLayout from "@/layouts/PageLayout.astro";

const pageTitle = "Home";
---

<PageLayout pageTitle={pageTitle}>
    <div class="hero hero-home">
        <h1 class="title">Valentina Geusa<br />Graphic & Web Designer</h1>
    </div>

    <section class="flex mt-3 flex-col justify-justify-center items-center">
        <p>
            Creo identità visive, illustrazioni e contenuti social con un tocco
            personale.
        </p>
        <p class="font-welcome">Benvenutə!</p>
        <div class="flex justify-between items-center gap-2 mt-3">
            <a href="/about" class="btn btn-primary btn-outline">Su di me</a>
            <a href="/contact" class="btn btn-primary">I miei lavori</a>
        </div>
    </section>

    <div class="flex justify-center items-center mt-10">
        <Ellipses class="" />
    </div>

    <Section class="section-primary mt-11">
        <div class="container text-gray">
            <h1 class="text-poppins text-2xl text-center font-semibold">
                Creiamo qualcosa <span class="text-primary-dark">insieme</span>
            </h1>
            <p class="text-center">
                Sono sempre entusiasta di intraprendere nuovi progetti e
                collaborare con professionisti creativi. Per qualsiasi
                opportunità, non esitare a contattarmi.
            </p>
        </div>
    </Section>
</PageLayout>
