---
import logo from '@/assets/logo.png'
---
<div class="navbar">
    <div class="navbar-start">
        <div class="navbar-logo">
            <img src={logo} alt="logo"></img>
        </div>
    </div>
</div>