---
import logo from '@/assets/logo.svg'
---
<footer class="footer">
    <div class="footer-content">
        <div class="footer-content-left">
            <div class="footer-content-left-logo">
                <img src={logo.src} alt="logo" class="h-10"></img>
            </div>
        </div>
    </div>
</footer>