---
import logo from '@/assets/logo.png'
---
<div class="navbar">
    <div class="navbar-start">
        <div class="navbar-item">
            <div class="navbar-logo">
                <img src={logo.src} alt="logo"></img>
            </div>
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <a class="btn btn-primary" href="/contatti">Contattami</a>
        </div>
    </div>
</div>